ul li{
    cursor: pointer;
    list-style-type: none;
    font-family: sans-serif;
    background-color: #ccc;
    padding: 7px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}